
.container{
    padding-top: 50px
}

.cartDataHolder{
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin: 15px 50px;
}

.noCartHead{
    text-align: center;
    width: 100%;

}


.container-race{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;

    button{
        outline: none;
        width: 150px;
        color: whitesmoke;
        background-color: rgb(14, 13, 13);
        height: 48px;
        cursor: pointer;
    }
}