.btn-con{
    display: flex;
    justify-content: space-between;
      text-align: left;
      padding-left: 20px;
      padding-right: 20px;
        button{
            background-color: #28282B;
            color: whitesmoke;
            margin: 5px;
        }
    
    
}